apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fiap58-ingress
spec:
  ingressClassName: nginx #This is how we target the nginx ingress controller.
  rules:
    - http:
        paths:
        # pedidos
        ##########################
          - path: /categoria
            pathType: Prefix
            backend:
              service:
                name: app-pedidos
                port:
                  number: 8080
                  #name: chespirito
          - path: /cliente
            pathType: Prefix
            backend:
              service:
                name: app-pedidos
                port:
                  number: 8080
          - path: /adm
            pathType: Prefix
            backend:
              service:
                name: app-pedidos
                port:
                  number: 8080
          - path: /pedidos
            pathType: Prefix
            backend:
              service:
                name: app-pedidos
                port:
                  number: 8080
          - path: /produto
            pathType: Prefix
            backend:
              service:
                name: app-pedidos
                port:
                  number: 8080
          # pagamento
          ##################################
          - path: /gerenciamento-pagamento
            pathType: Prefix
            backend:
              service:
                name: app-pagamentos
                port:
                  number: 8080
          # producao
          #######################################
          - path: /pedidoProducao
            pathType: Prefix
            backend:
              service:
                name: app-producao
                port:
                  number: 8080
