name: Deploy Load balancer and ingress into EKS
on:
  workflow_run:
    workflows: [Terraform Apply]
    types:
      - completed

    branches:
      - main

env:
  EKS_CLUSTER_NAME: fiap-58-eks-cluster

jobs:
  deploy-aws-eks:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configurando credenciais AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kube config
        run: aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region us-east-1

      - name: Install Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: 'v3.13.3'
        id: install

      - name: Install nginx LB
        run: |
          helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx && \
          helm upgrade -i --set controller.service.type=LoadBalancer \
          --set controller.service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-type"="nlb" \
          --set controller.autoscaling.maxReplicas=1 ingress-nginx ingress-nginx/ingress-nginx \
          --set controller.service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-internal"="true"

      - name: Deploy to EKS
        run: |
          
          kubectl apply -f deployments/
